/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 1em;
    font-family: arvo, helvetica, sans-serif;
    color: #8096a9;
 }

header {
    font-family: helvetica, sans-serif;
    padding: 1em 0.5em 0em 0.5em;
}
h1 {
    display: inline;
    font-size: 3.2em;
    color: #8096a9;
}

header img {
    float: left;
    padding: .5em;
}

.subheading {
    text-align: center;
    font-size: .75em;
    padding-bottom: 1em;
    color: #8096a9;
}

.nav ul{
        display: inline
    }

.hamburger {
    display: block;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem; 
}

main h2 {
    width: 100%;
    color: black; 
}

picture { 
    margin: 0 0 0 0; 
    width:50%; 
}

main picture img{ 
    width: 50%;
}

.navigation { 
    list-style: none; 
}
.navigation li { 
    display: none;
} 
.navigation.responsive { 
    position: relative; 
}
.navigation.responsive li { 
    align-items: center;
    justify-content: center;
    background-color: #204080;
    display: flex;	
    width: 100%; 
    margin: 1px 0;
}
.navigation.responsive li a {
    padding: 2rem; 	
    display: flex; 
    text-decoration:none; 
    color: white;
}
.navigation.responsive li a:hover { 
    background-color: #c0e0f0; 
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid {
    border: 2px; 
    border-radius: 5px;
    padding: 1em;
}

.grid > div {
  border: 2px;
  border-radius: 5px;
  padding: 1em;
}

.grid img{ 
    width: 100%;
}

.grid img:hover{
    box-shadow: 5px 5px 10px gray;
}

.description {
    font-size: .75em;
    text-align: center;
}
  
section > h3 {
    display: none;
}
.highlow {
    display: flex;
    justify-content: space-around;    
}

/*****************************************************************
CSS for Index Page
*****************************************************************/

.index > h1 {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
    padding-top: .5em;
    color: #a0ccc2;
    
}

.welcomeContent > p {
 text-align: justify;  
    line-height: 150%;
    padding: 1em 3em 1em 3em;
}


footer {
padding: 0em 0em 0em 0em;
    
}

footer aside {
    margin-top: 0;
    padding: 1.5em;
    background-color: #c0e0f0;
    text-align: center;
    line-height: 150%;
    
    
}

footer>p {
        
    margin-top: 0;
    padding: 1em;
    background: #204080;
    color: white;
    text-align: center;
    

} /* This structure refers to p elements that are direct children of the footer element */

